Repository ScreamingHawk/glicol-music: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, types, build

format:
  run: bun prettier --write {staged_files}

lint:
  run: bun eslint {staged_files}

types:
  run: bun tsc --noEmit

build:
  run: bun run build

fmt
  .github/workflows/deploy.yml
Due: format

Fix live coding
  src/providers/GlicolProvider.tsx
Due: format, lint, types, build

Add more music tracks
  public/music/track_002.glicol
  public/music/track_003.glicol
  public/music/track_004.glicol
  src/providers/GlicolProvider.tsx
Due: format, lint, types, build

Add copyright to tracks
  public/music/track_001.glicol
  public/music/track_002.glicol
  public/music/track_003.glicol
  public/music/track_004.glicol
Due: none

Default to a nicer track
  src/App.tsx
Due: format, lint, types, build

Update README
  README.md
Due: format

Add a menu
  src/App.css
  src/App.tsx
  src/components/Editor.tsx
  src/components/Menu.css
  src/components/Menu.tsx
  src/config/tracks.ts
Due: format, lint, types, build

fmt
  lefthook.yml
  src/App.tsx
  src/components/Editor.tsx
  src/components/Menu.tsx
  src/config/tracks.ts
Due: format, lint, types, build

Add comment to lefthook
  lefthook.yml
Due: format

Reorder lefthook
  lefthook.yml
Due: format

Hamburger display on mobile
  src/components/Menu.css
Due: none

Format css
  lefthook.yml
Due: format

fmt
  src/components/Menu.css
Due: none

Path conditions:
  format: any of: *.{ts,tsx,json,yml,yaml,md}
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,tsx}
  build: any of: *.{ts,tsx}
